<div class="container-md">
  <h1 class='mb-4'>
    <%= link_to 'Collections', collections_path %>:
    <%= link_to @collection.name, collection_path(@collection) %> - Committers
  </h1>

  <p class='text-muted'>
    <%= link_to 'Export all as CSV', committers_csv_collection_path(@collection) %>
  </p>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>GitHub</th>
        <th>Commits</th>
        <th>Unique Projects</th>
      </tr>
    </thead>
    <tbody>        
      <% @committers.each do |committer| %>
        <% next if committer['bot'] %>
        <tr>
          <td><%= committer['name'] %></td>
          <td><%= obfusticate_email committer['email']  %></td>
          <td><%= link_to_unless committer['login'].blank?, committer['login'], "https://github.com/#{committer['login']}" %></td>
          <td><%= committer['count'] %></td>
          <td><span title='<%= committer['projects'].sort_by(&:last).map(&:first).join(', ') %>'><%= committer['projects'].length %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>