<div class="container-md">
  <h1 class='mb-4'>
    <%= link_to 'Collections', collections_path %>:
    <%= link_to @collection.name, collection_path(@collection) %> - Committers
  </h1>


  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>GitHub</th>
        <th>Commits</th>
        <th>Unique Projects</th>
        <th>Bot</th>
      </tr>
    </thead>
    <tbody>        
      <% @committers.each do |committer| %>
        <tr>
          <td><%= committer['name'] %></td>
          <td><%= committer['email']  %></td>
          <td><%= link_to_unless committer['github'].blank?, committer['github'], 'https://github.com/'+committer['github'] %></td>
          <td><%= committer['count'] %></td>
          <td><span title='<%= committer['projects'].sort_by(&:last).map(&:first).join(', ') %>'><%= committer['projects'].length %></span></td>
          <td><%= committer['bot'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>