<% @meta_title = "#{@collection.name} collection" %>

<div class="container-md">
  <h1 class='mb-4'>
    <%= link_to 'Collections', collections_path %>:
    <%= @collection.name %>
  </h1>

  <div class='row'>
    <div class='col-md-8'>
      <%= render @projects %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>
    <div class='col-md-4'>
      <div class='card mb-3'>
        <div class="card-header">
          Keywords
        </div>
        <div class="list-group list-group-flush">
          <% @collection.keywords.first(100).each do |keyword, count| %>
            <% next if keyword.blank? %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if keyword == params[:keyword]%>" href="<%= collection_path(@collection, keyword: keyword) %>">
              <%= keyword %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='card mb-3'>
        <div class="card-header">
          Committers
        </div>
        <div class="list-group list-group-flush">
          <% @collection.committers.first(100).each do |keyword, count| %>
            <% next if keyword.blank? %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if keyword == params[:committer]%>" href="<%= collection_path(@collection, committer: keyword) %>">
              <%= keyword %>
              <span class="badge bg-primary rounded-pill" href='https://github.com/search?q=<%= keyword %>&type=users' target='_blank'><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='card mb-3'>
        <div class="card-header">
          Dependencies
        </div>
        <div class="list-group list-group-flush">
          <% @collection.dependencies.first(100).each do |keyword, count| %>
            <% next if keyword.blank? %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if keyword.join(':') == params[:dependency]%>" href="<%= collection_path(@collection, dependency: keyword.join(':')) %>">
              <%= keyword.join ':' %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class='card'>
      <div class='card-body'>
        <h5 class='card-title'>Statistics</h5>
        <p class='card-text'>
          <ul>
            <li>
              Projects: <%= @collection.projects.count %>
            </li>
            <li>
              Last synced: <%= distance_of_time_in_words_to_now @collection.updated_at %> ago
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>

</div>