<% @meta_title = "#{@project.url} summary" %>

<div class="container-md">
  <h1>
    <% if @project.collection %>
      <%= link_to @project.collection, collection_path(@project.collection) %>:
    <% end %>
    <%= @project.url %>
  </h1>

  <% if @project.last_synced_at %>
  
    <% if @project.keywords.any? %>
      <p>
        <% @project.keywords.each do |keyword| %>
          <span class="badge bg-light text-dark">
            <%= keyword %>
          </span>
        <% end %>
      </p>
    <% end %>

    <p>
      Score: <%= @project.score %>
    </p>

    <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= distance_of_time_in_words_to_now @project.last_synced_at %> ago <br>
        <%= link_to 'JSON resprestentation', api_v1_project_path(@project) %>
    </small></i></p>

    <%= render 'repository' %>
    <%= render 'events' %>
    <%= render 'committers' %>
    <%= render 'packages' %>
    <%= render 'dependencies' %>

  <% else %>
    <p>
      This project has not been synced yet. Check back in a few minutes.
    </p>
  <% end %>

</div>